.pagina-home {

    .cabecalho-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #C57D56;

        padding: 20px;

        button {
            background: #fff;
            padding: 15px 50px;
            border: none;
            border-radius: 50px;
            border: 2px solid transparent;

            color: #2a2a2a;

            margin: 10px 0px;

            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            letter-spacing: 2px;
            transition: 0.5s;
        }

        button:hover {
          cursor: pointer;
          transform: scale(1.03);
          background-color: transparent;
          color: #fff;
          border: 2px solid #fff;
        }

        button:active {
          background-color: #fff;
          color: #2a2a2a;
        }

        img {
            height: 20px;
            width: 20px;
        }

        p {
            color: white;
            letter-spacing: 2px;
            font-size: 12px;
            font-family: 'MontSerrat', sans-serif;
        }

        .header-left {
            display: flex;
            align-items: center;
            flex-direction: row;

            gap: 20px;

            span {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    padding-left: 20px;
                }
            }

            span:hover {
                cursor: pointer;
            }
        }

        .header-mid {
            display: flex;
            flex-direction: row;

            h1 {
                color: white;
                font-family: 'Gotham Black', sans-serif;
                font-size: 40px;
            }
        }

        .header-bot {
            display: flex;
            flex-direction: row;
            align-items: center;

            gap: 20px;

            > p:hover {
                cursor: pointer;
            }

            .notification {
                text-align: center;
                background-color: black;
                border-radius: 50%;
                padding: 1px 2px;
                font-size: 10px;

                position: relative;
                right: 22px;
                bottom: 10px;

            }
        }
        
    }

    .cabecalho-mid {

        background-color: #C57D56;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

        img {
            width: auto;
            height: 80px;
            margin: -5px 20px 10px 20px;
        }
    }

    .cabecalho-bot {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C57D56;

        padding: 70px;

        .card-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .header-button-tit {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    text-align: center;
                    width: 450px;
                    font-family: 'MontSerrat', sans-serif;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                button {
                    background-color: #2a2a2a;
                    color: white;
                    padding: 20px 80px;

                    border-radius: 10px;
                    font-size: 14px;

                    letter-spacing: 2px;

                    font-family: 'MontSerrat', sans-serif;
                    border: none;
                    transition: 0.5s;
                }

                button:hover {
                    cursor: pointer;
                    transform: scale(1.02);
                    background-color: black;
                }

                button:active {
                    transform: scale(1.0);
                }
            }

            background-color: #fff;
            padding: 30px;
            width: 90vw;

            border-radius: 20px;
        }
    }

    .desperdicio-de-madeira {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;

        .image {

            height: 70vh;
            width: 40%;

            img {
                height: 70vh;
                width: 100%;
            }
        }

         .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f1f1f1;
            padding: 70px 30px 100px;
            height: 70vh;
            width: 60%;

            gap: 10px;

            p {
                padding: 0px 38px;
                font-size: 18px;
                text-align: center;
                margin: 15px 0px;
                width: 550px;

                font-family: 'MontSerrat', sans-serif;
            }

            h1 {
                font-family: 'MontSerrat', sans-serif;
                font-size: 28px;
            }

            

            button {
                background-color: #2a2a2a;
                color: white;
                padding: 20px 80px;

                border-radius: 10px;
                font-size: 14px;

                letter-spacing: 2px;

                font-family: 'MontSerrat', sans-serif;
                border: none;
                transition: 0.5s;
            }

            button:hover {
                cursor: pointer;
                transform: scale(1.02);
                background-color: black; 
            }

            button:active {
                    transform: scale(1.0);
            }
            
         }

    }

    .linha {
        background-color: #fff;
        width: 100%;
        height: 10px;
        box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 20;
    }

    .cards-empresa {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #b6b6b6;

        .projetos-visao-certificacoes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            margin: 80px 0px;

            > div {
                display: flex;
                flex-direction: column;
                text-align: left;

                width: 25vw;
                margin: 20px;
                background-color: #fff;
                padding: 10px;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.247);

                h1 {
                    font-family: 'MontSerrat', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 10px 0px;
                }

                p {
                    margin: 0px 0px 10px;
                    font-family: 'MontSerrat', sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    width: 95%;
                }
            }


        }

        .madeiraRenovavel-Design {
            margin: 80px 0px 0px;
            padding: 35px;
            border-radius: 10px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            background-color: #ffffff;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.247);
            width: auto;
            
            .card-part {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                img {
                    height: auto;
                    width: 400px;
                    margin: 0px 0px 10px;
                    border-radius: 8px;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.247);
                    margin: 15px 20px;
                }

                p {
                    width: 350px;
                    margin: 10px 0px;
                    font-family: 'MontSerrat', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }

                h1 {
                    font-family: 'MontSerrat', sans-serif;
                    font-weight: 600;
                    font-size: 22px;
                }
            }

        }
     }

     .fundadores {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #C57D56;
        height: 100%;

        > h1 {
            margin: 100px 0px 10px;
            font-family: 'MontSerrat', sans-serif;
            font-weight: 700;
            color: white;
            font-size: 50px;
        }

        .card-portifolio {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 90px;

            div {

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    

                    background-color: white;
                    margin: 20px 10px;
                    padding: 30px 20px;
                    width: 350px;
                    height: 350px;
                    border-radius: 10px;

                    > p {
                        font-family: 'MontSerrat', sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        color: rgb(42, 42, 42, 50%);
                        width: 250px;
                    }

                    .Btn {
                        border: none;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition-duration: .4s;
                        cursor: pointer;
                        position: relative;
                        background: #f09433;
                        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
                        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        overflow: hidden;
                      }
                      
                      .svgIcon {
                        transition-duration: .3s;
                      }
                      
                      .svgIcon path {
                        fill: white;
                      }
                      
                      .text {
                        position: absolute;
                        color: rgb(255, 255, 255);
                        width: 120px;
                        font-family: 'gotham';
                        font-weight: 600;
                        opacity: 0;
                        transition-duration: .4s;
                      }
                      
                      .Btn:hover {
                        width: 200px;
                        transition-duration: .4s;
                        border-radius: 30px;
                      }
                      
                      .Btn:hover .text {
                        opacity: 1;
                        transition-duration: .4s;
                      }
                      
                      .Btn:hover .svgIcon {
                        opacity: 0;
                        transition-duration: .3s;
                      }

                    .card-top {
                        display: flex;
                        flex-direction: row;

                        gap: 10px;

                        img {
                            height: 60px;
                        }

                        h1 {
                            font-family: 'MontSerrat', sans-serif;
                            font-size: 20px;
                        }

                        p {
                            font-family: 'MontSerrat', sans-serif;
                            font-size: 14px;
                            font-weight: 700;
                            color: rgb(42, 42, 42, 50%);
                        }
                    }
                }
            }
        }
     }

     .comentarios {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #C57D56;
        height: 100%;

        > h1 {
            margin: 100px 0px 10px;
            font-family: 'MontSerrat', sans-serif;
            font-weight: 700;
            color: white;
            font-size: 38px;
        }

        .card-comentario {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 90px;

            div {

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 30px;
                    

                    background-color: white;
                    margin: 20px 10px;
                    padding: 30px 20px;
                    width: 290px;
                    height: 350px;
                    border-radius: 10px;

                    > p {
                        font-family: 'MontSerrat', sans-serif;
                        font-size: 12px;
                        font-weight: 700;
                        color: rgb(42, 42, 42, 50%);
                        width: 240px;
                    }

                    button {
                        align-self: center;
                        background-color: #2a2a2a;
                        border: none;
                        padding: 15px 30px;
                        color: #fff;

                        font-family: 'MontSerrat', sans-serif;
                        letter-spacing: 2px;
                        border-radius: 20px;
                        font-weight: 500;
                    }

                    .card-top {
                        display: flex;
                        flex-direction: row;

                        gap: 10px;

                        img {
                            height: 60px;
                        }

                        h1 {
                            font-family: 'MontSerrat', sans-serif;
                            font-size: 14px;
                            margin-top: 20px;
                        }

                        p {
                            font-family: 'MontSerrat', sans-serif;
                            font-size: 12px;
                            font-weight: 700;
                            color: rgb(42, 42, 42, 50%);
                        }
                    }
                }
            }
        }
     }

     .viva-a-sustentabilidade {
        display: flex;
        flex-direction: row;
        background-color: #b6b6b6;

        padding: 0px 50px 100px;
        height: 100%;
        

        .images-sus {
            margin-top: 80px;

            div {
                .saladeestar {
                    height: 350px;
                    width: auto;
                }

                img {
                    width: 123px;
                    margin: 10px 10px 0px 0px;
                    border-radius: 10px;
                }
            }
        }

        .info {
            margin-top: 80px;
            padding: 0px 50px;

            h1 {
                font-family: 'MontSerrat', sans-serif;
                font-size: 24px;
                margin-bottom: 15px;
                width: 300px;
            }

            p {
                font-family: 'MontSerrat', sans-serif;
                font-size: 12px;
                font-weight: 500;
                width: 75%;
            }

        }
     }

     .rodape {
        display: flex;
        flex-direction: column;
        background-color: #2a2a2a;
        padding-bottom: 30px;

        .rodape-bot {
            display: flex;
            justify-content: center;

            padding-top: 30px;
            p {
                font-family: 'MontSerrat', sans-serif;
                color: white;
                font-size: 8px;
                font-weight: 300;
            }
        }

        .rodape-top {
            background-color: #2a2a2a;
            padding: 25px;
            border-bottom: 1px solid #fff;

            h1 {
                font-family: 'MontSerrat', sans-serif;
                color: white;
                font-size: 16px;
                letter-spacing: 2px;
                font-weight: 300;
            }
        }

        .rodape-mid {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #2a2a2a;

            gap: 40px;
            padding: 50px 0px;

            h1 {
                color: white;
                font-family: 'MontSerrat', sans-serif;
                color: white;
                font-size: 16px;
                font-weight: 600;

                margin-bottom: 15px;
            }

            p {
                color: white;
                font-family: 'MontSerrat', sans-serif;
                color: white;
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 8px;
            }
        }

        .line {
            align-self: center;
            background-color: #ffffff;
            height: 1px;
            width: 800px;
        }
     }
}