.PagamentosCartao {
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        flex-direction: row;
        background: #D1D1D1;
        width: 100%;
        height: 100%;

        .Produtos {
            width: 43%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            .map {
                padding: 40px 0 0;

                h2 {
                    font-size: 27px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: #fff;
                    margin: 0 0 15px;

                }

                >div {
                    width: auto;
                    height: auto;
                    padding: 20px;
                    background-color: rgba(0, 0, 0, 0.40);
                    border-radius: 50px;

                    img {
                        width: 300px;
                        height: auto;
                    }
                }
            }
        }

        .nav-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 60px;
            background: #fff;
            border-radius: 60px 0px 0px 60px;
            width: 85%;

            >h2 {
                font-size: 35px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: normal;
                margin: 0 0 10px;
            }

            >p {
                font-size: 25px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: lighter;
                margin: 0 0 50px;
                color: rgba(70, 70, 70, 0.50);
            }

            .inputs {
                display: flex;
                flex-direction: column;
                width: 100%;

                .sel-entrega {
                    display: flex;
                    align-self: center;
                    width: 97%;
                    height: 45px;
                    padding: 0px 20px;
                    border-radius: 120px;
                    background-color: #F1F1F1 !important;
                    color: rgba(70, 70, 70, 0.50);
                    font-family: 'montserrat', sans-serif;
                    border: none;
                    margin-bottom: 10px;

                    appearance: none;
                    /* Remove a aparência padrão da seta */
                    -webkit-appearance: none;
                    /* Para o Safari */
                    -moz-appearance: none;
                    /* Para o Firefox */
                    background: url('../../../public/assets/images/icon-select.png');
                    background-position: 680px;
                    background-repeat: no-repeat;
                    background-size: 15px 16px;
                }

                .sel-entrega:focus {
                    outline: none;
                }

                .nav-input {
                    display: flex;
                    flex-direction: column;

                    .part-1,
                    .part-2 {

                        display: flex;
                        flex-direction: row;

                        input {
                            display: flex;
                            align-self: center;
                            width: 85%;
                            height: 45px;
                            padding: 0px 20px;
                            border-radius: 120px;
                            background-color: #F1F1F1 !important;
                            color: rgba(70, 70, 70, 0.50);
                            font-family: 'montserrat', sans-serif;
                            border: none;
                            margin: 10px;
                        }

                        input::placeholder {
                            color: rgba(70, 70, 70, 0.50);
                        }

                        input:focus {
                            outline: none;
                        }

                        select {
                            display: flex;
                            align-self: center;
                            width: 85%;
                            height: 45px;
                            padding: 0px 20px;
                            border-radius: 120px;
                            background-color: #F1F1F1 !important;
                            color: rgba(70, 70, 70, 0.50);
                            font-family: 'montserrat', sans-serif;
                            border: none;
                            margin: 10px;

                            appearance: none;
                            /* Remove a aparência padrão da seta */
                            -webkit-appearance: none;
                            /* Para o Safari */
                            -moz-appearance: none;
                            /* Para o Firefox */
                            background: url('../../../public/assets/images/icon-select.png');
                            background-position: 195px;
                            background-repeat: no-repeat;
                            background-size: 15px 16px;
                        }

                        select:focus {
                            outline: none;
                        }
                    }
                }

                margin-bottom: 30px;
            }

            .Detalhes {
                width: 97%;
                height: 200px;
                background-color: #F1F1F1;
                display: flex;
                flex-direction: column;
                align-content: space-between;
                padding: 20px;
                border-radius: 20px;

                .p-1 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: rgba(70, 70, 70, 0.50);
                    font-family: 'montserrat', sans-serif;
                    font-size: 15px;

                    .line-1 {
                        p {
                            color: #000;
                            font-weight: bolder;
                            font-size: 17px;
                        }

                        input {
                            width: 180px;
                            height: 25px;
                            padding-left: 5px;
                            border: none;
                            background-color: transparent;
                            font-size: auto;
                        }

                        input:focus {
                            outline: none;
                        }
                    }

                    .line-1,
                    .line-2,
                    .line-3 {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                .p-2 {
                    margin-top: 45px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    color: #000;
                    font-weight: bolder;
                    font-size: 17px;
                    font-family: 'montserrat', sans-serif;
                }
            }

            .nav-parcelamento {
                margin: 30px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                .nav-button {
                    width: 300px;
                    height: 70px;
                    background-color: #F1F1F1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 120px;

                    .switch {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    .switch .switch-text {
                        padding-right: 1.5rem;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: 'montserrat', sans-serif;
                    }

                    .switch .switch-wrapper {
                        display: inline-block;
                        width: 53px;
                        height: 28px;
                        position: relative;
                    }

                    .switch .switch-wrapper .switch-button {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 40px;
                        background-color: #C5C5C5;
                    }

                    .switch .switch-wrapper input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .switch .switch-wrapper .switch-button::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: 4px;
                        bottom: 4px;
                        border-radius: 50%;
                        transition: .4s all ease;
                        background-color: aliceblue;
                    }

                    .switch .switch-wrapper input:checked + .switch-button {
                        background-color: #58a721;
                    }

                    .switch .switch-wrapper input:checked + .switch-button::before{
                        transform: translateX(26px);
                    }
                }
                
                .nav-input{
                    width: 300px;
                    height: 70px;
                    background-color: #F1F1F1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 120px;
                }
            }
        }
    }
}