* {
    box-sizing: border-box;
    margin: 0px;
}

.Toastify__progress-bar-theme--dark {
    background-color:#2F88E1 !important;
}

.Toastify__toast-theme--dark {
    font-family: 'gotham' !important;
    font-size: 14px;
}

.Toastify__toast--error {
    font-family: 'gotham' !important;
    font-size: 14px;
}

.pagina-cadastroProdutos {
    display: flex;
    flex-direction: row;

    .part-right {
        display: flex;
        flex-direction: column;
        width: 100%;

        .menu-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #BAD3ED;
            width: 100%;
            height: auto;
            padding: 50px 30px;

            .menu-top {

                display: flex;
                flex-direction: row;
                align-items: center;

                .ImagemCadastrada {
                    width: 95px;
                    height: 95px;
                    margin: 10px;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 100px;
                    margin: 0px 10px 10px;
                    background-color: #ffffff;
                    border: 2px solid #7f7f7f;
                    color: #7f7f7f;
                    font-size: 50px;
                    font-weight: 200;

                    #ImagemImage {
                        width: 95px;
                        height: 95px;
                        position: absolute;
                        visibility: hidden;
                    } 
                }

                .buttons-edit-add {
                    display: flex;
                    flex-direction: column;
                }
            }

            .button-blue {
                padding: 17px;
                width: 200px;
                background-color: #2F88E1;
                border-radius: 30px;
                border: none;
                font-family: 'MontSerrat', sans-serif;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 10px;
                color: white;
                margin: 0px 0px 10px;
            }

            .buttons-cadastro-novo {

                margin-top: 15px;

                button {
                    padding: 17px;
                    width: 200px;
                    background-color: #2a2a2a;
                    border-radius: 30px;
                    border: none;
                    font-family: 'MontSerrat', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 10px;
                    color: white;
                }
                
            }

            h1 {
                font-family: 'Gotham black';
                font-size: 22px;
            }

            .inputs-add {
                input {
                    padding: 25px 60px 10px 10px;
                    border: 1px solid #c7c7c7;
                    border-radius: 3px;  
                    
                    font-family: 'montserrat', sans-serif;
                    font-size: 12px;
                    color: #2a2a2a;
                    font-weight: 600;
                }

                ::placeholder {
                    color: #2a2a2a;
                }

                p {
                    position: relative;
                    top: 23px;
                    left: 12px;
                    font-family: 'Gotham Black';
                    font-size: 10px;
                    color: #747474;
                }
            }

            input:focus {
                outline: none;
            }
        }
    }
}