* {
    box-sizing: border-box;
    margin: 0px;
}

.pagina-cadastroProdutos {
    display: flex;
    flex-direction: row;

    .part-right {
        display: flex;
        flex-direction: column;

        .menu-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #BAD3ED;
            width: 100%;
            height: 85vh;
        }
    }
}