html {
    height: 100vh;
}

.SituacaoPedido {
    width: 100%;
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #F0E1D2;

        .sub-container {
            background: #F0E1D2;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;

            >h1 {
                margin-top: 40px;
                text-align: center;
                font-family: 'gotham-black';
                font-size: 20px;
                color: #000;
            }

            .sub {
                gap: 100px;
                width: 100%;
                height: 100%;
                margin-top: 60px;
                margin-bottom: 80px;
                display: flex;
                flex-direction: row;
                justify-content: center;

                .nav-esquerda {
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    width: 500px;
                    border-radius: 15px;

                    .caminho-pedido {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        margin-top: 30px;

                        .balls {
                            display: flex;
                            flex-direction: row;

                            > div {
                                height: 400px;  
                                background-color: #000;
                                width: 2px;
                                
                                .bolinha-verde {
                                    height: 25px;  
                                    background-color: #259830;;
                                    width: 25px;
                                    border-radius: 50%; 
                                    position: relative;
                                    right: 12px;
                                    margin-bottom: 50px;
                                }

                                > .bolinha {
                                    height: 25px;  
                                    background-color: #2a2a2a;
                                    width: 25px;
                                    border-radius: 50%; 
                                    position: relative;
                                    right: 12px;
                                    margin-bottom: 50px;
                                }
                            }
                        }

                        .info-caminho {
                            .situacao {

                                margin: 0px 0px 40px;

                                h1 {
                                    font-size: 16px;
                                    text-transform: uppercase;
                                    font-family: 'gotham';
                                }   

                                p {
                                    font-size: 14px;
                                    font-family: 'inter';
                                }
                            }
                        }
                    }

                    .cabecalho {
                        border-radius: 15px 15px 0 0;
                        background: #2A2A2A;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 150px;
                        padding-left: 50px;
                        gap: 15px;

                        img {
                            width: 62px;
                            height: 62px;
                        }

                        >div {
                            .status {
                                color: #fff;
                                font-size: 15px;
                                font-weight: 500;
                                font-family: 'gotham black', sans-serif;
                                margin-bottom: 10px;
                            }

                            .aguarde {
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                color: #fff;
                                margin: 10px 0 !important;
                                font-size: 12px;
                                font-weight: 300;
                                line-height: normal;
                            }
                        }
                    }

                    .Destino {
                        background: #2A2A2A;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        height: 150px;
                        padding-left: 50px;

                        img {
                            width: 62px;
                            height: 62px;
                            margin-bottom: 10px;
                        }

                        >div {
                            margin-bottom: 10px;

                            .dest {
                                font-size: 15px;
                                font-family: 'montserrat';
                                color: #fff;
                            }

                            .endereco {
                                margin-top: 10px;
                                font-size: 12px;
                                font-family: 'montserrat';
                                color: #fff;
                            }
                        }
                    }
                }

                .nav-direita {
                    width: 500px;
                    background: #fff;
                    padding: 30px 0 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    border-bottom-left-radius: 10px;

                    .container-giga {
                        gap: 35px;
                        padding: 0 50px;
                        display: flex;
                        flex-direction: column;
                    }

                    .pedido-info {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;

                        .fundo-img {
                            border-radius: 5px;

                            width: 135px;
                            padding: 10px;
                            background: #2A2A2A;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: 115px;
                                height: auto;
                            }
                        }
                        .info-produtos {
                            display: flex;
                            width: 100%;
                            height: 100%;
                            flex-direction: column-reverse;
                            span{
                                font-family: 'gotham-black';
                                font-size: 14px;

                                .unidade{
                                    font-size: 12px;
                                    font-family: 'gotham';
                                    color: #2A2A2A;
                                }
                            }
                        }
                    }

                    .total-pedido {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .valores-info {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            font-size: 15px;

                            span {
                                width: 20%;
                                font-family: 'gotham-book';
                                font-weight: 500;
                            }

                            p {
                                font-weight: 600;
                                font-family: 'gotham-black';
                                letter-spacing: 1px;
                            }

                            .total-valor {
                                font-family: 'gotham-bold';
                                color: #259830;
                            }
                        }
                    }

                    .informacoes-pedido {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        margin-bottom: 50px;

                        >h2 {
                            font-size: 20px;
                            font-family: 'gotham-black';
                            color: #2A2A2A;

                        }

                        .span-info {
                            p {
                                font-family: 'gotham-black';
                                color: #2A2A2A;
                            }

                            span {
                                font-size: 13.5px;
                                font-weight: 600;
                                font-family: 'gotham-light';
                                color: #2a2a2a;
                            }
                        }
                    }
                    .agradecimento{
                        display: flex;
                        flex-direction: row;
                        border-top: 1px solid #2a2a2a;
                        margin-top: 35px;

                        .img-pica{
                            width: 17%;
                            height: 85px;
                            background-color: #2A2A2A;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 0 0 0 10px;

                            img{
                                width: 55px;
                                height: 55px;
                            }
                        }

                        .agradecimentos-frase{
                            width: 83%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            align-self: center;
                            p{
                                text-align: center;
                                font-family: 'montserrat';
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                        
                        
                    }
                }
            }
        }
    }
}