.pagina-result {
    width: 100%;
    height: 100%;

    hr {
        border: transparent;
        height: 1px;
        background: #787878;
    }

    header {
        .cabecalho-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;

            padding: 20px;

            img {
                height: 20px;
                width: 20px;
                color: #000;
            }

            p {
                color: #000;
                letter-spacing: 2px;
                font-size: 12px;
                font-family: 'MontSerrat', sans-serif;
            }

            .header-left {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 20px;

                .nav-link{
                    gap: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-decoration: none;
                }
            }

            .header-mid {
                display: flex;
                flex-direction: row;

                h1 {
                    color: #000;
                    font-family: 'Gotham Black', sans-serif;
                    font-size: 40px;
                }
            }

            .header-bot {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 20px;

                .notification {
                    text-align: center;
                    background-color: black;
                    border-radius: 50%;
                    padding: 1px 2px;
                    font-size: 10px;

                    position: relative;
                    right: 22px;
                    bottom: 10px;

                }
            }

        }

        .cabecalho-mid {

            background-color: #fff;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;

            img {
                width: auto;
                height: 80px;
                margin: -5px 20px 10px 20px;
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #D1D1D1;

        .input-verificar {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 80%;
            height: 35px;
            margin-top: 50px;

            .icon-relative{
                background-color: rgb(173, 173, 173);
                padding: 10px;
                width: 35px;
                height: 35px;
                z-index: 5555;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            .icon-relative:hover{
                cursor: pointer;
            }

            input {
                width: 100%;
                height: 35px;
                padding-left: 20px;

                // background-image: url('../../../public/assets/images/lupa-input.png');
                // background-repeat: no-repeat;
                // background-size: 16.5px;
                // background-position: 1055px 9px;
                border: transparent;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                

                ::placeholder {
                    font-size: 20px;
                }
            }

            input:focus {
                outline: none;
            }

            .button-thumb {
                position: absolute;
                // display: flex;
                // flex-direction: row;
                // justify-content: end;
                cursor: pointer;
                width: 45px;
                height: 35px;
                border: none;
                
                background-color: transparent;

                >div{
                    width: 100%;
                    height: 100%;
                    background-color: #a5b8cc;
                    border-radius: 0 7.5px 7.5px 0;
                }
            }
        }

        .container-content {
            margin-top: 70px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;
            width: 100%;
            height: 100%;
            padding-left: 100px;
            // gap: 300px;

            .nav-left {
                display: flex;
                flex-direction: column;
                width: 17%;
                height: 100%;

                hr {
                    border: transparent;
                    height: 1px;
                    background: #787878;
                    margin: 15px 0;
                }

                >p {
                    font-size: 20px;
                    font-family: gotham-light;
                    color: rgba(0, 0, 0, 0.75);
                    margin-bottom: 15px;
                    margin-left: 10px;
                }

                .container-check {
                    .sub-container {
                        margin-bottom: 5px;
                        .custom-checkbox input {
                            display: none;
                        }

                        .custom-checkbox input+label:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            border-radius: 4px;
                            background-color: white;
                            border: 1px solid gray;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 8px;
                            margin-bottom: 3px;
                            cursor: pointer;
                        }

                        .custom-checkbox input:checked+label:before {
                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            background-color: #007bff;
                            background-position: center;
                            border: none;
                            padding: 1px;
                        }

                        label {
                            font-family: gotham-bold;
                            font-size: 14px;
                        }
                    }
                }


                .input-move {
                    label {
                        font-family: gotham-light;
                        color: rgba(0, 0, 0, 0.75);
                    }

                    [type="range"] {
                        margin: 10px 0;
                        width: 100%;
                        background-color: #ffffff;
                        appearance: none;
                        display: block;
                        padding: 0 0;
                        border-radius: 5px;
                    }

                    [type="range"]::-webkit-slider-thumb {
                        appearance: none;
                        height: 10px;
                        width: 20px;
                        background-color: #2A2A2A;
                        border-radius: 5px;
                    }

                    /* Estilizando a parte preenchida do controle deslizante */
                    // input[type="range"]::-webkit-slider-runnable-track {

                    // }

                    /* Estilizando o botão (alça) do controle deslizante */


                    >label {
                        font-size: 20px;
                        margin-left: 10px;
                    }

                    .nav-valores {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 10px;

                        span {
                            font-size: 13px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }

            .nav-right {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                background-color: #fff;
                flex-wrap: wrap;
                gap: 10px;
                padding: 40px 35px 0;
                border-radius: 5px;

                .cards {
                    margin-bottom: 30px;
                    transition: .2s;
                    width: 250px;
                    height: auto;
                    padding: 0 10px 10px;
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    border-radius: 3px;
                    background-color: #D1D1D1;

                    .img-produto {
                        width: 100%;
                        height: 250px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                        }
                    }

                    .info-produto {
                        width: 100%;
                        background-color: #fff;
                        padding-left: 15px;
                        padding-bottom: 10px;

                        p {
                            font-family: gotham-black;
                            font-size: 15.5px;
                            padding-top: 10px;

                            span {
                                font-family: gotham-bold;
                                font-size: 12px;
                                color: rgb(101, 150, 53);
                            }
                        }
                    }
                }

                .cards:hover{
                    cursor: pointer;
                    transform: scale(1.02);
                }
            }
        }
    }
}