.pagina-result {
    width: 100%;
    height: 100%;

    hr {
        border: transparent;
        height: 1px;
        background: #787878;
    }

    header {
        .cabecalho-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;

            padding: 20px;

            img {
                height: 20px;
                width: 20px;
                color: #000;
            }

            p {
                color: #000;
                letter-spacing: 2px;
                font-size: 12px;
                font-family: 'MontSerrat', sans-serif;
            }

            .header-left {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 20px;

                .nav-link {
                    gap: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-decoration: none;
                }
            }

            .header-mid {
                display: flex;
                flex-direction: row;

                .ecoback {
                    color: #000;
                    font-family: 'Gotham Black', sans-serif;
                    font-size: 40px;
                    text-decoration: none;
                }
            }

            .header-bot {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 20px;

                .notification {
                    text-align: center;
                    background-color: black;
                    border-radius: 50%;
                    padding: 1px 2px;
                    font-size: 10px;

                    position: relative;
                    right: 22px;
                    bottom: 10px;

                }
            }

        }

        .cabecalho-mid {

            background-color: #fff;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;

            img {
                width: auto;
                height: 80px;
                margin: -5px 20px 10px 20px;
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 160px;
        width: 100%;
        height: auto;
        background-color: #D1D1D1;

        .input-verificar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            width: 100%;
            

            .icon-relative {
                width: 20px;
                height: 20px;
                position: relative;
                right: 735px;
            }

            .icon-relative:hover {
                cursor: pointer;
            }

            input {
                width: 750px;
                height: 50px;
                padding-left: 45px;

                border: transparent;
                border-radius: 10px;

                font-family: 'gotham';


                ::placeholder {
                    font-size: 20px;
                }
            }

            input:focus {
                outline: none;
            }

            .button-thumb {
                position: absolute;
                // display: flex;
                // flex-direction: row;
                // justify-content: end;
                cursor: pointer;
                width: 45px;
                height: 35px;
                border: none;

                background-color: transparent;

                >div {
                    width: 100%;
                    height: 100%;
                    background-color: #a5b8cc;
                    border-radius: 0 7.5px 7.5px 0;
                }
            }
        }

        .container-content {
            margin-top: 70px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 100px;
            width: 100%;
            height: 100%;
            padding-left: 100px;
            // gap: 300px;

            .nav-left {
                display: flex;
                flex-direction: column;
                width: 17%;
                height: 100%;

                hr {
                    border: transparent;
                    height: 1px;
                    background: #787878;
                    margin: 15px 0;
                }

                >p {
                    font-size: 20px;
                    font-family: gotham-light;
                    color: rgba(0, 0, 0, 0.75);
                    margin-bottom: 15px;
                    margin-left: 10px;
                }

                .container-check > div {
                    display: flex;
                    flex-direction: column;

                    select {
                        font-family: 'Montserrat', sans-serif;
                        background-color: #e9e9e9;

                        padding: 15px 10px;
                        border: none;
                        border-radius: 5px;

                        margin: 10px 0px;    
                        text-align: left;
                        font-size: 12px;
                        width: 150px;
                    } 
                    
                    select:focus {
                        outline: none;
                    }
                }


                .input-move {
                    label {
                        font-family: gotham-light;
                        color: rgba(0, 0, 0, 0.75);
                    }

                    [type="range"] {
                        margin: 10px 0;
                        width: 100%;
                        background-color: #ffffff;
                        appearance: none;
                        display: block;
                        padding: 0 0;
                        border-radius: 5px;
                    }

                    [type="range"]::-webkit-slider-thumb {
                        appearance: none;
                        height: 10px;
                        width: 20px;
                        background-color: #2A2A2A;
                        border-radius: 5px;
                    }

                    /* Estilizando a parte preenchida do controle deslizante */
                    // input[type="range"]::-webkit-slider-runnable-track {

                    // }

                    /* Estilizando o botão (alça) do controle deslizante */


                    >label {
                        font-size: 20px;
                        margin-left: 10px;
                    }

                    .nav-valores {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 10px;

                        span {
                            font-size: 13px;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }

            .nav-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                border-radius: 5px;

                .container-cards {
                    display: flex;
                    flex-direction: row;
                    width: 850px;
                    flex-wrap: wrap;
                    gap: 10px;
                    padding: 40px 35px 0;

                    

                    .cards {
                        margin-bottom: 30px;
                        transition: .2s;
                        width: 250px;
                        height: auto;
                        padding: 0 10px 10px;
                        display: flex;
                        flex-direction: column;
                        align-self: flex-start;
                        border-radius: 3px;

                        .img-produto {
                            width: 100%;
                            height: 250px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #b1b1b1;
                            padding: 40px;

                            img {
                                width: 100%;
                            }
                        }

                        .info-produto {
                            display: flex;
                            flex-direction: column;

                            width: 100%;
                            background-color: #fff;
                            padding: 5px 5px 5px 7px;

                            svg {
                                align-self: flex-end;
                                transition: 0.5s;

                                path {
                                    transition: 0.3s;
                                }

                                path:hover {
                                    fill: #007bff;
                                }
                            }

                            svg:hover {
                                transform: scale(1.04);
                                cursor: pointer;
                            }

                            .nomeProduto {
                                font-family: 'gotham-black';
                                font-weight: 900;
                                font-size: 14px;
                                padding: 0px;
                                color: #2A2A2A;
                            }

                            .precoProduto {
                                font-family: 'gotham';
                                font-weight: 600;
                                font-size: 11px;
                                color: rgb(101, 150, 53);
                                padding: 5px 0px;
                            }

                            img {
                                height: auto;
                                width: 15px;
                            }
                            
                        }
                    }
                }

                .change-pages{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    vertical-align: middle;
                    margin: 20px 0 30px;
                    gap: 10px;
                    background: #2A2A2A;
                    padding: 10px 20px;
                    border-radius: 5px;

                    span{
                        display: flex;
                        align-self: center;
                        color: #d1d1d1;
                        font-family: 'gotham-bold';
                    }

                    span > p {
                        padding: 0px 3px;
                    }

                    span > p:hover {
                        cursor: pointer;
                        transform:scale(1.04);
                    }

                    span > p:active {
                        cursor: pointer;
                        transform:scale(1.0);
                    }

                    img{
                        width: 20px;
                        height: 20px;
                    }

                    .click-maior{
                        img{
                            rotate: 180deg;
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}