.carrinho-cheio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F0E1D2;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;

    .menu-part1 {
        display: flex;
        flex-direction: column;
        padding: 100px 0px 0px 50px;
        width: 59vw;

        > p {
            font-family: 'montserrat';
            margin: 20px 0px;
            font-weight: 500;
            font-size: 14px;
        }

        .ew-paravoce {
            display: flex;
            flex-direction: row;

            .paravoce {
                display: flex;
                align-items: center;
                padding: 20px;
                background-color: white;
                width: 59vw;

                p {
                    font-family: 'gotham';
                }
            }

            .ew {

                background-color: #2a2a2a;
                padding: 20px;
                border-radius: 10px 0px 0px 10px;

                h2 {
                    color: white;
                    border: 2px solid white;
                    font-family: 'montserrat';
                    font-weight: 500;
                    padding: 15px 10px;
                    border-radius: 50%;
                    font-size: 16px;
                }
            }
        }

        .produto {
            display: flex;
            flex-direction: row;

            .part-imagem {
                border-right: 1px solid #d1d1d1;

                img {
                    width: 25vw;
                    height: 50vh;
                    background-color: #fff;
                    padding: 10px;
                }
            }

            .part-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 30.8vw;
                height: 50vh;
                background-color: #fff;

                h1 {
                    padding: 20px 0px 0px;
                    text-align: center;
                    font-size: 20px;
                    color: #2a2a2a;
                    font-family: 'gotham-bold';
                }

                .info-produto {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    height: 60%;
                    padding: 20px 10px 0px 10px;
                    border-top: 1px solid #d1d1d1;
                
                    

                    .info {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        p {
                            font-family: 'montserrat';
                            font-weight: 400;
                            color: #2a2a2a;
                        }

                        .cinza {
                            font-family: 'montserrat';
                            font-weight: 500;
                            color: #d1d1d1;
                            width: 120px;
                            font-size: 12px;
                        }
                    }

                    .valor {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            font-family: 'gotham black';
                            width: 120px;
                        }

                        input {
                            padding: 20px 10px;
                            width: 100px;
                            height: 50px;

                            font-family: 'gotham';
                            border: 1px solid #BBB;
                            border-color: #BBB #ECECEC #ECECEC #BBB;
                            border-radius: 5px;
                        }

                        /* Spin Buttons modified */
                        input[type="number"]::-webkit-outer-spin-button,
                        input[type="number"]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
                            width: 1em;
                            border-left: 1px solid #BBB;
                            opacity: .5;
                            /* shows Spin Buttons per default (Chrome >= 39) */
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                        }

                        /* Override browser form filling */
                        input:-webkit-autofill {
                            background: black;
                            color: red;
                        }

                        input:focus {
                            outline: none;
                        }
                    }
                }

                .remover-and-detalhes {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 1px solid #d1d1d1;

                    .remover {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 50%;

                        border-right: 1px solid #d1d1d1;

                        p {
                            font-family: 'montserrat';
                            font-size: 12px;
                        }

                        img {
                            margin: 0px 10px;
                        }
                    }

                    .remover:hover {
                        cursor: pointer;
                    }

                    .detalhes {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 50%;

                        p {
                            font-family: 'montserrat';
                            font-size: 12px;
                        }

                        img {
                            margin: 0px 10px;
                        }
                    }

                    .detalhes:hover {
                        cursor: pointer;
                    }
                }


            }
        }

        .botao-finalizar {
            display: flex;
            justify-content: end;
            margin-top: 25px;

            button {
                background-color: #2a2a2a;
                color: #fff;
                padding: 20px 50px;
                border: none;
                border-radius: 30px;
                font-family: 'montserrat';
                transition: 0.5s;
                border: 2px solid transparent;
            }

            button:hover {
                transform: scale(1.03);
                background-color: transparent;
                border: 2px solid #2a2a2a;
                color: #2a2a2a;
                cursor: pointer;
            }

            button:active {
                transform: scale(1.0);
                background-color: #2a2a2a;
                color: #fff;
            }
        }
    }

    .part-info2 {
        display: flex;
        flex-direction: column;

        background-color: #fff;
        padding: 20px 40px;
        height: 70vh;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        margin-right: 50px;

        .line {
            background-color: #d1d1d1;
            height: 1px;
            width: 100%;
        }

        .informacoes {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 20px;

            img {
                margin-right: 15px;
            }

            h1 {
                font-family: 'gotham';
                font-size: 14px;
            }

            p {
                font-family: 'gotham';
                font-size: 12px;
            }
        }
    }
}